@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.GradientBG{
  background: linear-gradient(#ED82B8,#86DEF4,#ED82B8);
}
.GradientBG2{
  background: linear-gradient(90deg,#86DEF4 , #ED82B8  );
}
.GradientBG3{
  background: linear-gradient(140deg,#86DEF4 0% 20%, #ED82B8  );
}
.TextGradient{
  background: linear-gradient(90deg,#ED82B8 0% 50%,#86DEF4);
  background-clip: text;
  color: transparent;
}
.TomatoFont{
  color: #FDFDFD;
}

.TomatoBG{
  background: #F5F5F5;
}

.inpShadow{
  box-shadow: 0px 3px 3px rgba(75, 74, 74, 0.098);
}
.Faq summary::marker{
  content: '';
  display: none;
}
.Faq[open] .SummMark::before{
  position: absolute;
  content: '-';
  font-size: 40px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SummMark::before{
  position: absolute;
  content: '+';
  font-size: 40px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OverScroll::-webkit-scrollbar{
  display: none;
}
.paymentPrice{
  font-family: 'Poppins', sans-serif;
}


.goog-te-gadget img{
  display: none;
}
.goog-te-gadget-icon{
  display: none;
}
.goog-te-gadget span{
  display: none;
} 
.skiptranslate .goog-te-gadget-simple {
  background-color: transparent;
  height: 20px;
  width: 20px;
  font-size: 10pt;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 2px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: none;
  left: 50%;
  transform: translate(-50%, 0%);

}
/* .VIpgJd-ZVi9od-ORHb .VIpgJd-ZVi9od-LgbsSe{
  display: none;
} */

/* .VIpgJd-ZVi9od-ORHb .VIpgJd-ZVi9od-LgbsSe {
  border-color: #E7E7E7;
  border-style: none solid solid none;
  border-width: 0 1px 1px 0;
  display: none;
} */
 /* .VIpgJd-ZVi9od-ORHb-OEVmcd a{
display: none;
background-color: red;
} */

/* .VIpgJd-ZVi9od-ORHb .VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}
.VIpgJd-ZVi9od-ORHb img {
  border: none;
  display: none;
}
.VIpgJd-ZVi9od-ORHb table{
  display: none;
} */
/* .VIpgJd-ZVi9od-LgbsSe {
  display: none;
} */




@media (max-width: 500px) {
    .br1{
      display: none;
    }
}
@media (max-width: 400px) {
  .PaymentBox{
    width: 90%;
  }
}